body{
    
    margin: 0;
    display: flex;
    flex-direction: column;
    li{
        list-style: none;
    }
    main{
        height: 100%;
    }
    #layout-main{
        min-height: 100vh;
    }

}

