#layout-footer {
  background-color: #1877f2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }
  #layout-footer div:first-of-type p {
    margin: 0; }
  #layout-footer div:last-of-type nav.footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
    #layout-footer div:last-of-type nav.footer-nav ul li {
      margin: 0 1rem; }
      #layout-footer div:last-of-type nav.footer-nav ul li a {
        color: white;
        text-decoration: none; }
        #layout-footer div:last-of-type nav.footer-nav ul li a:hover {
          color: #f5f5f5; }
